<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
        <p>
            <span class="footer_link">
            <a href="{{ site.url | absolute_url }}{{ site.baseurl }}">ERKWB</a>
            </span>
            <span class="footer_link">
            <a href="http://www.reformiert.at">Österreich</a>
            </span>
            <span class="footer_link">
            <a href="http://erkwb.ch">Schweiz</a>
            </span>
        </p>
    </div>
  </div>
</footer>
