<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
        <p>
            <span class="footer_link">
            <a href="{{ site.url | absolute_url }}{{ site.baseurl }}">{{ site.title }}</a>
            </span>
            <span class="footer_link">
            <a href="{{ site.url | absolute_url }}{{ site.baseurl }}/about/">About</a>
            </span>
            <span class="footer_link">
            <a href="{{ site.url | absolute_url }}{{ site.baseurl }}/kontakt/">Kontakt</a>
            </span>
        </p>
    </div>
  </div>
</footer>
