<h2>Gemeinden</h2>

<h3>Österreich</h3>

{% for gemeinde in site.data.gemeinden_a %}

<div id="gemeinde-container">
    <p class="gemeinde"><a href="{{ gemeinde.url }}">{{ gemeinde.name }}</a></p>
    <div class="foto_lokal">
        <img src="{{ gemeinde.bild_lokal | absolute_url }}" alt="Lokal der {{ gemeinde.name }}" class="gemeinde_bild">
    </div>
    <div class="beschreibung">
        <p>
            <a href="{{ gemeinde.adresse.karte_url }}">{{ gemeinde.adresse.strasse }}<br />
            {{ gemeinde.adresse.ort }}</a>
        </p>
        <p>Gottesdienste: <a href="{{ gemeinde.gottesdienst.url_gottesdienste }}">{{ gemeinde.gottesdienst.zeit }}</a></p>
        <p><a href="{{ gemeinde.url }}">{{ gemeinde.url }}</a></p>
    </div>
    <div class="clearfix" style="margin-bottom:2em;">

    </div>
</div>

{% endfor %}



<h3>Schweiz</h3>

{% for gemeinde in site.data.gemeinden_ch %}

<div id="gemeinde-container">
    <p class="gemeinde"><a href="{{ gemeinde.url }}">{{ gemeinde.name }}</a></p>
    <div class="foto_lokal">
        <img src="{{ gemeinde.bild_lokal | absolute_url }}" alt="Lokal der {{ gemeinde.name }}" class="gemeinde_bild">
    </div>
    <div class="beschreibung">
        <p>
            <a href="{{ gemeinde.adresse.karte_url }}">{{ gemeinde.adresse.strasse }}<br />
            {{ gemeinde.adresse.ort }}</a>
        </p>
        <p>Gottesdienste: <a href="{{ gemeinde.gottesdienst.url_gottesdienste }}">{{ gemeinde.gottesdienst.zeit }}</a></p>
        <p><a href="{{ gemeinde.url }}">{{ gemeinde.url }}</a></p>
    </div>
    <div class="clearfix" style="margin-bottom:2em;">

    </div>
</div>

{% endfor %}
