<section class="timeline">
  <ul>
    <li class="gross">
      <div>
        <time>2005</time>
        <p><strong>Gründung der <a href="http://winterthur.erkwb.ch">ERKWB Winterthur</a></strong><br />
        <a href="{{ site.baseurl }}/kontakt/#threiner">Thomas Reiner</a> wird als Vikar eingesetzt.<br />
        Die Gottesdienste werden in einem Privathaus in Neftenbach gefeiert.</p>
      </div>
    </li>

    <li class="klein">
      <div>
        <time>2006</time>
        <p><strong>ERKWB Winterthur</strong><br />
        Die Räumlichkeiten an der <a href="http://winterthur.erkwb.ch/locations/erkwb-winterthur/">Schlachthofstrasse in Winterthur-Töss</a> werden bezogen.<br />
        <a href="{{ site.baseurl }}/kontakt/#threiner">Thomas Reiner</a> wird zum Pfarrer ordiniert.</p>
      </div>
    </li>

    <li class="gross">
      <div>
        <time>2008</time>
        <p><strong>Gründung der <a href="http://basel.erkwb.ch">ERKWB Basel</a></strong><br />
        <a href="{{ site.baseurl }}/kontakt/#kvetterli">Kurt Vetterli</a> wird als Vikar eingesetzt.<br />
        Die Gottesdienste werden zuerst im Garten des Vikars und danach für einige Monate im Alterszentrum zum Lamm gefeiert.</p>
      </div>
    </li>

    <li class="klein">
      <div>
        <time>2009</time>
        <p><strong>ERKWB Basel</strong><br />
        <a href="{{ site.baseurl }}/kontakt/#kvetterli">Kurt Vetterli</a> wird zum Pfarrer ordiniert.</p>
      </div>
    </li>

    <li class="klein">
      <div>
        <time>2010</time>
        <p><strong>ERKWB Winterthur</strong><br />
        <a href="http://winterthur.erkwb.ch/2010/10/25/vortrage-der-kredokonferenz/">Kredo-Konferenz</a> zum Thema «Das Lied der Liebenden – Vom Hohelied Salomos zur Liebe geführt».</p>
      </div>
    </li>

    <li class="klein">
      <div>
        <time>2015</time>
        <p><strong>ERKWB Basel</strong> Nach verschiedenen Versammlungsorten trifft sich die Gemeinde ab Juli im <a href="http://basel.erkwb.ch/lokal/erkwb-basel/">Spittler-Haus an der Socinstrasse</a>.</p>
      </div>
    </li>

    <li class="klein">
      <div>
        <time>2016</time>
        <p><strong>ERKWB Winterthur</strong><br />
        <a href="http://winterthur.erkwb.ch/2016/01/12/vortraege-der-jubilaeumskonferenz-10-jahre-erkwb-winterthur/">Jubiläumskonferenz</a> zum Thema: Ich will den Herrn loben allezeit!</p>
      </div>
    </li>


    <li class="klein">
      <div>
        <time>2017</time>
        <strong>ERKWB Basel und Winterthur</strong><br />
        <a href="http://reformationstage.erkwb.ch">Reformationstage 2017</a> zu den 95 Thesen von Martin Luther aus dem Jahre 1517.
      </div>
    </li>


  </ul>
</section>
